{% extends "base.html.twig" %}

{% block title %}Mon acceuil {% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="css/style.css" />
{% endblock %}

{% block body %}
<nav class="nav flex-column">
    <div class="first-nav">
        <a class="nav-link active" href="/home"><img class="logo" src="/images/logo.png" alt="logo" /></a>
        <a class="nav-link" href="#"><img class="logonavbar" src="/images/musicl.svg" alt="logo music" /></a>
        <a class="nav-link" href="#"><img class="logonavbar" src="/images/user.svg" alt="logo user" /></a>
  </div>
    <div>
        <a class="nav-link" href="#"><img class="logonavbar exit" src="/images/disconnect.svg" alt="logo disconnect" /></a>
    </div>
</nav>



{% endblock %}
