{% extends "base.html.twig" %}

{% block title %}Mon détail dans une musique {% endblock %}


{% block body %}

<img class="img" src="/images/rihanna.png">
<a class="btn btn-primary" href="{{  path('accueil') }}" role="button">Link</a>

{% endblock %}
