/* import des différentes typographies */

@font-face {
    font-family: "kanit";
    src: url("/assets/fonts/Kanit/Kanit-Regular.ttf");
}
 
/* import de la font Khula */
@font-face {
    font-family: "karla";
    src: url("/assets/fonts/Karla/Karla-Regular.ttf");
}
 
@font-face {
    font-family: "lustria";
    src: url("/assets/fonts/Lustria/Lustria-Regular.ttf");
}




body{
    background-color: rgba(18, 29, 15, 1);
    
}

.nav{
    background: linear-gradient(rgba(66, 84, 58, 1),rgba(30, 43, 25, 1)) ;
    width: 120px;
    height: 100vh;
    justify-content: space-between;
    position: absolute;
    z-index: 2;
}


.logo{
    height: 100px;
    width: 100px;
}

.logonavbar{
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    margin: 10px;
}

.exit.logonavbar{
    display: flex;
    justify-content: flex-start;
}

.first-nav{
    display: flex;
    flex-direction: column;
}

.principal{
    display: flex;
    flex-direction: row;
    margin-left: 200px;
}

.card{
    width: 200px;
    height: 200px;
    margin-right: 100px;
    margin-top: 20px;
    background-color: transparent;
}

.text-title {
    color: rgba(242, 217, 217, 1);
    padding-left: 150px;
    padding-top: 10px;
    font-family: 'Karla';

}

.text-card{
    color: rgba(242, 217, 217, 1);
    padding: 0px;
    font-family: 'Karla';
    text-align: center;
}


/* Disconnect page */

.disco{
    background-color: rgba(18, 29, 15, 1);
}
.title{
    font-family: 'lustria';
    color: rgba(218, 204, 204, 1);
    margin-left: 70px
}

.form-label{
    font-family: 'kanit';
}

.card-connection{
    background: linear-gradient(rgba(66, 84, 58, 1),rgba(30, 43, 25, 1)) ;

}

.logodisco{
    height: 80px;
    width: 80px;
    margin-bottom: 40px;
    margin-top: 10px;
}



.logo-d{
    height: 300px;
    width: 300px;
}
